<!-- sign up  -->
<!-- //////////////////////////////////////////////////////// -->
<section appMoveUpAnimate>
  <div class="wrapper">
    <div class="title-text">
      <div class="title signup">New to PharmaHub Sign Up Now!</div>
    </div>
    <div class="form-container">
      <div class="form-inner">
        <form class="signup" #formRef="ngForm" (ngSubmit)="onSubmit(formRef)">
          <div class="fields">
            <!-- Full Name -->
            <div class="field">
              <input
                type="text"
                placeholder="Full Name"
                name="fullName"
                required
                maxlength="100"
                pattern="^[A-Za-z\s]+$"
                [(ngModel)]="fullName"
                #fullNameField="ngModel"
              />
              <!-- Error messages -->
              <div
                *ngIf="fullNameField.invalid && fullNameField.touched"
                class="error-message"
              >
                <p *ngIf="fullNameField.errors?.['required']">
                  Full Name is required.
                </p>
                <p *ngIf="fullNameField.errors?.['maxlength']">
                  Full Name must be no more than 100 characters.
                </p>
                <p *ngIf="fullNameField.errors?.['pattern']">
                  Full Name must contain only letters and spaces.
                </p>
              </div>
            </div>
            <!-- phone number -->
            <div class="field">
              <input
                type="text"
                placeholder="Phone Number"
                name="phoneNumber"
                required
                maxlength="11"
                minlength="11"
                pattern="^[0-9]{1,11}$"
                [(ngModel)]="phoneNumber"
                #phoneNumberField="ngModel"
              />
              <!-- Error messages -->
              <div
                *ngIf="phoneNumberField.invalid && phoneNumberField.touched"
                class="error-message"
              >
                <p *ngIf="phoneNumberField.errors?.['required']">
                  Phone Number is required.
                </p>
                <p *ngIf="phoneNumberField.errors?.['minlength']">
                  Phone Number must be exactly 11 digits.
                </p>
                <p *ngIf="phoneNumberField.errors?.['maxlength']">
                  Phone Number must be exactly 11 digits.
                </p>
                <p *ngIf="phoneNumberField.errors?.['pattern']">
                  Phone Number must contain only numbers.
                </p>
              </div>
            </div>

            <!-- Email input -->
            <div class="field">
              <input
                type="email"
                placeholder="Email Address"
                required
                name="signupemail"
                [(ngModel)]="signupemail"
                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.com$"
                #signupemailField="ngModel"
              />
              <!-- Email Validation -->
              <div
                *ngIf="signupemailField.invalid && signupemailField.touched"
                class="error"
                class="error-message"
              >
                <p *ngIf="signupemailField.errors?.['required']">
                  Email is required.
                </p>
                <p *ngIf="signupemailField.errors?.['pattern']">
                  Email must be a valid .com address.
                </p>
              </div>
            </div>
            <!-- Selected country -->
            <div class="field">
              <select
                [(ngModel)]="selectedCountry"
                name="selectedCountry"
                (change)="onCountryChange()"
                required
                class="drop-down"
              >
                <option value="" disabled selected>Select Country</option>
                <option
                  *ngFor="let country of countries"
                  [value]="country.name"
                >
                  {{ country.name }}
                </option>
              </select>
            </div>
            <!-- selected city -->
            <div class="field">
              <select
                [(ngModel)]="selectedCity"
                name="selectedCity"
                required
                class="drop-down"
              >
                <option value="" disabled selected>Select City</option>
                <option *ngFor="let city of filteredCities" [value]="city">
                  {{ city }}
                </option>
              </select>
            </div>
            <!-- Location input -->
            <div class="field">
              <input
                type="text"
                placeholder="Detailed Location"
                name="location"
                required
                maxlength="280"
                [(ngModel)]="location"
                #locationField="ngModel"
              />
              <!-- Location validation -->
              <div
                *ngIf="locationField.invalid && locationField.touched"
                class="error"
                class="error-message"
              >
                <p *ngIf="locationField.errors?.['required']">
                  Location is required.
                </p>
                <p *ngIf="locationField.errors?.['maxlength']">
                  Location must be no more than 280 characters.
                </p>
              </div>
            </div>
            <!-- password input -->
            <div class="field">
              <input
                type="password"
                placeholder="Password"
                required
                name="signupPassword"
                [(ngModel)]="signupPassword"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{10,}$"
                #signupPasswordField="ngModel"
              />
              <!-- password validation -->
              <div
                *ngIf="
                  signupPasswordField.invalid && signupPasswordField.touched
                "
                class="error"
                class="error-message"
              >
                <p *ngIf="signupPasswordField.errors?.['required']">
                  Password is required.
                </p>
                <p *ngIf="signupPasswordField.errors?.['pattern']">
                  Password must be at least 10 characters and include uppercase,
                  lowercase, number, and special character.
                </p>
              </div>
            </div>
            <!-- confirm password -->
            <div class="field">
              <input
                type="password"
                placeholder="Confirm password"
                required
                name="confirmPassword"
                [(ngModel)]="confirmPassword"
                #confirmPasswordField="ngModel"
              />
              <!-- confirm password validation -->
              <div
                *ngIf="
                  confirmPasswordField.touched &&
                  signupPassword !== confirmPassword
                "
                class="error"
                class="error-message"
              >
                <p>Passwords do not match.</p>
              </div>
            </div>
            <div class="btn">
              <input
                type="submit"
                value="Sign up"
                [disabled]="
                  formRef.invalid || signupPassword !== confirmPassword
                "
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
