<section appMoveUpAnimate>
  <div class="sectionContainer">
    <div class="section-grid">
      <div class="ShoppingCart">
        <div class="backShopping">
          <h4>
            <a href="#" class="ContinueShoppingButton"
              >&larr; Continue Shopping</a
            >
          </h4>
        </div>
        <hr />
        <div class="ShoppingCartContent">
          <h3 class="CartHeading">
            <i class="fas fa-shopping-cart cart-icon"></i> Your Shopping Cart
          </h3>
          <div class="cartItems">
            <p *ngIf="cartItems.length === 0" class="emptyCartText">
              Your cart is empty 🛒
            </p>
            <div class="Item" *ngFor="let item of cartItems">
              <div class="image-box">
                <img [src]="item.imgUrl" alt="image" class="cartItemImage" />
              </div>
              <div class="cartItemDetails">
                <h4 class="cartItemName">{{ item.name }}</h4>
                <p class="cartItemPrice">price : {{ item.price }}</p>
                <input
                  type="number"
                  name="Quantity"
                  placeholder="Quantity"
                  required
                  [value]="item.quantity || 1"
                  min="1"
                />
              </div>
              <button class="removeButton" (click)="removeItem(item.id)">
                <i class="far fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- ///////////////////////////////////////////// -->
      <!-- Card Details And Payment -->
      <!-- ///////////////////////////////////////////// -->
      <div class="Card-Details">
        <h3 class="cardsHeading">Card Details</h3>
        <div class="cardInfo">
          <div class="cardContainer">
            <!-- <p class="cardType">Card Type</p> -->
            <div style="display: flex; gap: 1rem" class="cardIcons">
              <select class="Cardinput">
                <option value="" disabled selected>Card Type</option>
                <option *ngFor="let card of CardTypes" [value]="card">
                  {{ card }}
                </option>
              </select>
            </div>
          </div>
          <div class="CardName">
            <!-- <label for="CardName">Cardholder's Name</label> -->
            <input
              type="text"
              id="CardName"
              placeholder="Cardholder's Name"
              class="Cardinput"
            />
          </div>
          <div class="cardNumber">
            <!-- <label for="cardNumber">Card Number</label> -->
            <input
              type="text"
              id="cardNumber"
              placeholder="Card Number"
              class="Cardinput"
            />
          </div>
          <div class="CardExpiry-Cvv">
            <div class="ExpiryDate">
              <!-- <label for="ExpiryDate" style="margin-bottom: 0.5rem"
                >Expiry Date</label
              > -->
              <input
                type="text"
                id="ExpiryDate"
                placeholder="ExpiryDate MM/YY"
                class="Edate"
              />
            </div>
            <div class="CVV">
              <!-- <label for="CVV" style="margin-bottom: 0.5rem">CVV</label> -->
              <input type="text" id="CVV" placeholder="CVV" class="secretcvv" />
            </div>
          </div>
        </div>
        <hr style="color: aliceblue" />
        <div class="Subtotal">
          <p class="subtotalText">Subtotal</p>
          <p class="price">{{ subtotal }}</p>
        </div>
        <!-- <div class="Shipping">
          <p class="shippingText">Shipping</p>
          <p class="price">0.00 EGP</p>
        </div> -->
        <div class="Total">
          <p class="TotalText">Total</p>
          <p class="price">{{ subtotal }}</p>
        </div>
        <button class="checkoutButton">
          <div class="checkout">
            <span>{{ subtotal }}</span>
            <span>CHECKOUT &rarr;</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>
