.packages-section {
  padding-bottom: 6rem;
}
.section-header {
  max-width: 75rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.card-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  position: relative;
  padding: 2rem 0;
  max-width: 75rem;
  margin: 0 auto;
}
.custom-card {
  transition: transform 0.3s ease;
}
.custom-card:hover {
  transform: translateY(-5px);
}
.pharma-logo {
  max-width: 3.75rem;
  height: auto;
  transition: transform 0.3s ease;
}
.pharma-logo:hover {
  transform: rotateY(180deg);
}
.custom-card-img {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 30%;
  padding: 1rem;
}

.custom-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.cart-icon {
  position: absolute;
  right: 30px;
  bottom: 131px;
  cursor: pointer;
}

.custom-card-body {
  padding: 1.2rem;
}

.custom-card-title {
  font-size: 0.9rem;
  font-weight: bold;
  color: #207230;
  /* margin-bottom: 10px; */
}

.custom-card-text {
  font-size: 0.75rem;
  color: #207230;
  /* margin-bottom: 15px; */
}

.center-card {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
.Heading {
  font-size: 2.6rem;
  color: #2b8a3e;
  max-width: 35rem;
}

/* arrow buttons */
.arrow-btn {
  --arrow-size: 2.5rem;
  --arrow-color: #2b8a3e;
  --arrow-color-hover: #d8f5a2;
  width: var(--arrow-size);
  height: var(--arrow-size);
  background: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.arrow-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  width: calc(var(--arrow-size) * 0.7071);
  height: calc(var(--arrow-size) * 0.7071);
  box-sizing: border-box;
  border-top: calc(var(--arrow-size) / 5) solid var(--arrow-color);
  transition: all 0.2s ease-in-out;
}

.arrow-btn.left {
  left: 5rem;
}

.arrow-btn.right {
  right: 5rem;
}

.arrow-btn.left::after {
  left: calc(var(--arrow-size) / 5);
  border-left: calc(var(--arrow-size) / 5) solid var(--arrow-color);
  transform: rotate(-45deg);
  transform-origin: top left;
}

.arrow-btn.right::after {
  right: calc(var(--arrow-size) / 5);
  border-right: calc(var(--arrow-size) / 5) solid var(--arrow-color);
  transform: rotate(45deg);
  transform-origin: top right;
}

.arrow-btn.left:hover::after {
  box-shadow: calc(var(--arrow-size) / -8) calc(var(--arrow-size) / -8) 0
    var(--arrow-color);
  border-color: var(--arrow-color-hover);
}

.arrow-btn.right:hover::after {
  box-shadow: calc(var(--arrow-size) / 8) calc(var(--arrow-size) / -8) 0
    var(--arrow-color);
  border-color: var(--arrow-color-hover);
}

/* all packages button */
.btn {
  font-size: 1.1rem;
  padding: 10px 20px;
  background-color: #d8f5a2;
  color: #37b24d;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.btn:hover {
  background-color: #f9fdfa;
  box-shadow: inset 0 0 0 3px #37b24d;
  color: #37b24d;
}

.flip-card {
  background-color: transparent;
  width: 19rem;
  height: 29rem;
  perspective: 150rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.9s;
  transform-style: preserve-3d;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(235, 251, 238);
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8rem;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* border: 1px solid #ddd; */
  transform: rotateY(180deg);
  text-align: center;
  /* background: #f3faf4; */
  background-color: #ebfbee;
}
.flip-button-1 {
  /* background: #f3faf4; */
  background-color: #ebfbee;

  color: #207230;
}
.flip-button-1:hover {
  text-decoration: underline;
}
.flip-button-2 {
  width: 90px;
  height: 30px;
  border-radius: 100px;
  cursor: pointer;
  background-color: #207230;
  transition: 0.5s ease;
  color: #fff;
}
.flip-button-2:hover {
  background-color: #ebfbee;
  color: #207230;
  box-shadow: inset 0 0 0 2px #207230;
}
/* For small screens */
@media (max-width: 576px) {
  .custom-card {
    width: 60%;
  }
  .flip-card-back {
    gap: 3rem;
    padding: 1rem;
  }
  .Heading {
    font-size: 2.5rem;
    color: #2b8a3e;
    max-width: 35rem;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .arrow-btn.left {
    left: 1rem;
  }

  .arrow-btn.right {
    right: 1rem;
  }
}
