<div class="stock" *ngFor="let cat of categories">
  <div class="productsock">
    <div class="prodtext">
      <h3>{{ cat }}</h3>
    </div>

    <div class="prodtable">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>In Stock</th>
            <th>Discount</th>
            <th>Category</th>
            <th>Image</th>
            <th>Components</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let card of groupedPackages[cat]">
            <td>{{ card.id }}</td>
            <td>{{ card.name }}</td>
            <td>{{ card.price }}</td>
            <td>{{ card.quantity }}</td>
            <td>{{ card.discountRate > 0 ? card.discountRate + '%' : 'No' }}</td>
            <td>{{ card.category }}</td>
            <td><img *ngIf="card.imageUrl" [src]="card.imageUrl" width="50" /></td>
            <td>
              <ul *ngIf="card.packagesComponents?.length > 0; else noComp">
                <li *ngFor="let comp of card.packagesComponents">{{ comp.componentName }}</li>
              </ul>
              <ng-template #noComp>No Component</ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
