<Section class="Pharmacies-Section">
  <div class="section-Header">
    <h2>Explore Our Trusted Pharmacy Collection</h2>
    <a href="#" class="btn btn-full" [routerLink]="['/allpharmacies']"  > View all Pharmacies</a>
  </div>
  <div class="Pharmacies-grid-container container">
    <div class="row gy-4 gx-4 justify-content-center">
      <a
        *ngFor="let pharma of pharmacies"
        href="#"
        title="navigate pharmacy"
        class="pharmacy-item col-12 col-sm-6 col-md-4 col-lg-3"
      >
        <div class="pharmacy-image">
          <img [src]="pharma.imgUrl" alt="pharmacy-logo" />
        </div>
        <p>{{ pharma.Name }}</p>
      </a>
    </div>
  </div>
</Section>
