* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  /* font-family: "poppins", sans-serif; */
}
html {
  height: 100%;
  overflow-x: hidden;
}

:root {
  /* --bg: #e0e5eb;
  --shadow-dark: #bec3c8;
  --shadow-light: #ffffff;
  --primary: rgba(255, 255, 255, 0.85);
  --gray: rgba(110, 110, 110, 0.93);
  --text: #bbb2a9;
  --text-2: #5d5c5c;
  --bg-navbar: #596c7b;
  --shadow-dark-nav: #4c5c69;
  --shadow-light-nav: #667c8d; */
}

body {
  /* font-family: "Inter", system-ui, sans-serif; */
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-navbar);
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-navbar);
}
@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.reveal {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.8s ease-out;
}
.active {
  opacity: 1;
  transform: translateY(0);
}
.reveal.active {
  animation: moveInUp 0.8s ease-out forwards;
}
.fade-left,
.fade-right {
  opacity: 0;
  transform: translateX(0);
  transition: all 0.8s ease-out;
}

.fade-left {
  transform: translateX(-100px);
}

.fade-right {
  transform: translateX(100px);
}

.active {
  opacity: 1;
  transform: translateX(0);
}
