* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  /* font-family: "poppins", sans-serif; */
}
html {
  height: 100%;
  overflow-x: hidden;
}

:root {
  --primary: #2b8a3e;
  --bg: #f6fdf8;
  --text-2: #444;
  --text-1: #2b8a3e;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.reveal {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.8s ease-out;
}
.active {
  opacity: 1;
  transform: translateY(0);
}
.reveal.active {
  animation: moveInUp 0.8s ease-out forwards;
}
.fade-left,
.fade-right {
  opacity: 0;
  transform: translateX(0);
  transition: all 0.8s ease-out;
}

.fade-left {
  transform: translateX(-100px);
}

.fade-right {
  transform: translateX(100px);
}

.active {
  opacity: 1;
  transform: translateX(0);
}
.toast-container {
  z-index: 9999 !important;
}

.toast {
  display: block !important;
  opacity: 1 !important;
}
