.section-Customer-Hero {
  /* background-color: #fff; */
  padding: 3rem 0;
}
.Hero {
  max-width: 75rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3rem;
}
.Hero-img {
  max-width: 100%;
  /* animation-name: moveInUp;
  animation-duration: 1s; */
}
.heading-primary {
  font-size: 4.1rem;
  font-weight: 500;
  color: #2b8a3e;
  letter-spacing: -1px;
  margin-bottom: 2.2rem;
  /* animation-name: moveInUp;
  animation-duration: 1s;
  animation-timing-function: ease-out; */
}
.Hero-describtion {
  font-size: 1.28rem;
  margin-bottom: 1.9rem;
  /* animation-name: moveInUp;
  animation-duration: 1s;
  animation-timing-function: ease-out; */
  color: #2b8a3e;
}
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.18rem;
  padding: 1rem 2rem;
  border-radius: 100px;
  transition: all 0.3s;
}
.btn-full:link,
.btn-full:visited {
  background-color: #2b8a3e;
  color: #fff;
}

.btn-full:hover,
.btn-full:active {
  background-color: #f9fdfa;

  box-shadow: inset 0 0 0 3px #d8f5a2;
  color: #37b24d;
}
.btn-outline:link,
.btn-outline:visited {
  background-color: #d8f5a2;
  color: #37b24d;
}
.btn-outline:hover,
.btn-outline:active {
  background-color: #f9fdfa;

  box-shadow: inset 0 0 0 3px #37b24d;
  color: #37b24d;
}
.margin-right-sm {
  margin-right: 1rem !important;
}

@media (max-width: 992px) {
  .Hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .Hero-TextBox {
    order: 2;
  }

  .Hero-Image-box {
    order: 1;
    max-width: 70%;
    margin: 0 auto;
  }

  .btn {
    width: 100%;
    margin-bottom: 1rem;
  }

  .margin-right-sm {
    margin-right: 0 !important;
  }
}

@media (max-width: 576px) {
  .heading-primary {
    font-size: 2.2rem;
  }

  .Hero-describtion {
    font-size: 0.95rem;
  }

  .btn {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }
}
