<section class="section-Customer-Hero" appMoveUpAnimate>
  <div class="Hero container px-4">
    <div class="Hero-TextBox">
      <h1 class="heading-primary">Find the Right Care, Right Here</h1>
      <p class="Hero-describtion">
        Explore deals, browse products, and connect with pharmacies near you.
        Your journey to better health starts now.
      </p>

      <a
        href="#"
        class="btn btn-full margin-right-sm"
        [routerLink]="'/allpharmacies'"
        >Shop Now</a
      >
      <a
        href="#target-section"
        class="btn btn-outline"
        [routerLink]="'/alloffers'"
        >Discover More &darr;</a
      >
    </div>
    <div class="Hero-Image-box">
      <img [src]="imgUrl" class="Hero-img" alt="a bowl of pills" />
    </div>
  </div>
</section>
