<section class="pharmacies-section-Entery" appMoveUpAnimate id="target-section">
  <div class="section-container">
    <div class="Text-Box">
      <h2 class="Section-Heading">Find a Pharmacy You Can Rely On</h2>
      <p class="description">
        At PharmaHub, we understand the importance of having a trusted pharmacy
        nearby. Our platform connects you with most trusted pharmacies that
        offer quality medications and personalized care.
      </p>
    </div>

    <img [src]="imgUrl" class="section-image" alt="drug-store" />
  </div>
</section>
