<!-- auth.component.html -->
<!-- Sign in form Customer and Pharmacist -->
<section class="login-section" appMoveUpAnimate>
  <div class="wrapper">
    <div class="title-text">
      <div class="title login">Sign In to PharmaHub</div>
    </div>
    <div class="form-container">
      <div class="form-inner">
        <form class="login" (ngSubmit)="login()" #loginForm="ngForm">
          <div class="fields">
            <!-- Email input -->
            <div class="field">
              <input
                type="email"
                placeholder="Email Address"
                required
                name="loginemail"
                [(ngModel)]="loginemail"
                #loginemailField="ngModel"
              />
              <!-- email validation -->
              <div *ngIf="loginemailField.invalid && loginemailField.touched" class="error-message">
                <p *ngIf="loginemailField.errors?.['required']">
                  Email is required.
                </p>
                <p *ngIf="loginemailField.errors?.['pattern']">
                  Email must be a valid .com address.
                </p>
              </div>
            </div>

            <!-- Password input -->
            <div class="field">
              <input
                type="password"
                placeholder="Password"
                required
                name="loginPassword"
                [(ngModel)]="loginPassword"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[\\W_]).{10,}$"
                #loginPasswordField="ngModel"
              />
              <!-- password validation -->
              <div *ngIf="loginPasswordField.invalid && loginPasswordField.touched" class="error-message">
                <p *ngIf="loginPasswordField.errors?.['required']">
                  Password is required.
                </p>
                <p *ngIf="loginPasswordField.errors?.['pattern']">
                  Password must be at least 10 characters and include uppercase,
                  lowercase, number, and special character.
                </p>
              </div>
            </div>

            <div class="btn">
              <input type="submit" value="Login" />
            </div>
          </div>

          <div class="signup-link">
            <p>Not a member?</p>
            <ul class="signuplist" style="padding-left: 0">
              <li class="listitem">
                <a [routerLink]="['/CustomerSignUp']">Sign up as a new Customer</a>
              </li>
              <li class="listitem">
                <a [routerLink]="['/PharmacistSignUp']">Sign up as a new Pharmacist</a>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
