<!-- auth.component.html -->
<!-- Sign in form Customer and Pharmacist -->
<section class="login-section" appMoveUpAnimate>
  <div class="wrapper">
    <div class="title-text">
      <div class="title login">Sign In to PharmaHub</div>
    </div>
    <div class="form-container">
      <div class="form-inner">
        <form
          class="login"
          (ngSubmit)="login()"
          #loginForm="ngForm"
          #formRef="ngForm"
        >
          <div class="fields">
            <!-- Email input -->
            <div class="field">
              <input
                type="email"
                placeholder="Email Address"
                required
                name="loginemail"
                [(ngModel)]="loginemail"
                #loginemailField="ngModel"
                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
              />
              <!-- email validation -->
              <div
                *ngIf="loginemailField.invalid && loginemailField.touched"
                class="error-message"
              >
                <p *ngIf="loginemailField.errors?.['required']">
                  Email is required.
                </p>
                <p *ngIf="loginemailField.errors?.['pattern']">
                  Email must be a valid .com address.
                </p>
              </div>
            </div>

            <!-- Password input -->
            <div class="field">
              <input
                type="password"
                placeholder="Password"
                required
                name="loginPassword"
                [(ngModel)]="loginPassword"
                #loginPasswordField="ngModel"
              />
              <!-- password validation -->
              <div
                *ngIf="loginPasswordField.invalid && loginPasswordField.touched"
                class="error-message"
              >
                <p *ngIf="loginPasswordField.errors?.['required']">
                  Password is required.
                </p>
              </div>
            </div>

            <div class="btn">
              <input type="submit" value="Login" />
            </div>

            <!-- <button (click)="userRole = 'Customer'">Login as Customer</button>
              <button (click)="userRole = 'Pharmacist'">Login as Pharmacist</button>
             -->
          </div>

          <div class="signup-link">
            <p>Not a member?</p>
            <ul class="signuplist" style="padding-left: 0">
              <li class="listitem">
                <a [routerLink]="['/CustomerSignUp']"
                  >Sign up as a new Customer</a
                >
              </li>
              <li class="listitem">
                <a [routerLink]="['/PharmacistSignUp']"
                  >Sign up as a new Pharmacist</a
                >
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
