<nav class="navbar header p-2 mt-4 navbar-expand-lg  mx-auto" style="width: 95%;">
    <div class="container rounded-pill"  >
         <!-- Logo and Toggler Button -->
         <a class="navbar-brand logo" href="#">
            <img src="logo.png" alt="Logo" height="40">
        </a>
    </div>
    
    <div>
        <app-navbar></app-navbar>
      </div>

      <div class="container rounded-pill"  >
        <!-- Login Icon  -->
        <a class="navbar-brand logo" href="#">
           <img src="login.png" alt="Logo" height="40">
       </a>
   </div>
</nav>