<div class="container mt-4">
  <div class="row justify-content-center">
    <div
      class="custom-card col-12 col-sm-6 col-md-4 mb-4 p-4 flip-card"
      *ngFor="let card of visibleCards"
    >
      <div class="flip-card-inner" [class.flipped]="card.isFlipped">
        <div class="flip-card-front">
          <div class="custom-card-img-container">
            <img [src]="card.imgUrl" alt="Image" class="custom-card-img" />
            <lord-icon
              class="custom-icon"
              src="./heart.json"
              trigger="hover"
              style="width: 45px; height: 40px"
            ></lord-icon>
          </div>
          <div class="custom-card-body">
            <div class="row">
              <h5 class="custom-card-title col-8">{{ card.name }}</h5>
              <lord-icon
                src="./addcart.json"
                trigger="hover"
                style="width: 40px; height: 35px"
                class="col-2"
              ></lord-icon>
            </div>
            <p class="custom-card-text">
              Price : {{ card.price }} <small>EGP</small>
            </p>
            <p class="custom-card-text">
              {{ card.description.slice(0, 2).join(", ") }}
              @if (card.description.length > 2) {
              <button
                style="color: #596c7b"
                class="flipp-button-1"
                (click)="card.isFlipped = !card.isFlipped"
              >
                ......
              </button>
              }
            </p>
            <div class="row align-items-center">
              <img
                class="col-3"
                [src]="card.imgPharm"
                style="
                  border-radius: 50%;
                  border: 1px solid #596c7b;
                  width: 40px;
                  height: 50px;
                "
              />
              <p class="custom-card-text row col-6 m-1">{{ card.pharmName }}</p>
            </div>
          </div>
        </div>
        <div class="flip-card-back">
          <p class="custom-card-text">
            {{ card.description }}
          </p>
          <button
            class="flip-button-2"
            (click)="card.isFlipped = !card.isFlipped"
          >
            Back
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <nav class="pagination-nav text-center mt-4">
    <button
      *ngFor="let page of [].constructor(totalPages); let i = index"
      class="btn mx-1 page"
      [class.active-page]="currentPage === i + 1"
      (click)="setPage(i + 1)"
    >
      {{ i + 1 }}
    </button>
  </nav>
  <br />
</div>
