<section class="ViewAllPharmaciesSearch">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  />
  <div class="Heading-Search-Bar">
    <i class="fas fa-search search-icon"></i>
    <input
      type="Search"
      placeholder=" search for a pharmacy"
      class="search-bar"
    />
  </div>
</section>
<section class="Pharmacies-displayed-section">
  <div class="All-Pharmacies-Section">
    <h2 class="section-heading">All trusted pharmacies are here &darr;</h2>
    <div class="pharmacies-container">
      <div class="Pharmacies-grid-container container">
        <div class="row gy-4 gx-4 justify-content-center">
          <a
            *ngFor="let pharma of pharmacies"
            href="#"
            title="navigate pharmacy"
            class="pharmacy-item col-12 col-sm-6 col-md-4 col-lg-3"
          >
            <div class="pharmacy-image">
              <img [src]="pharma.imgUrl" alt="pharmacy-logo" />
            </div>
            <p>{{ pharma.Name }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
