<section class="OffersEntery-section" appMoveUpAnimate>
  <div class="section-container">
    <img class="Section-Image" [src]="imgUrl" alt="Offers Image" />
    <div class="Textbox">
      <h2 class="section-Heading">
        Mind Blowing Offers Are only Here on PharmaHub!
      </h2>
      <p class="section-Description">
        We are providing the best offers on all medicines and health care
        products. You can get up to 50% off on selected products. So, don't miss
        this chance to grab the best deals.
      </p>
    </div>
  </div>
</section>
