<!-- home.component.html -->
<div class="container-wrapper">
  <iframe
    src="https://my.spline.design/pillanddnaanimation-354120818a6dbc621953df90b70f0abc"
    frameborder="0"
    width="100%"
    height="97%"
    loading="lazy"
  ></iframe>
  <div class="gradient">
    <h1 appMoveAnimateleftorright direction="right">Welcome to PharmaHub</h1>
    <p appMoveAnimateleftorright direction="left">
      Your Trusted Partner in Healthcare
    </p>
    <div
      class="herobuttoncontainer"
      appMoveAnimateleftorright
      direction="right"
    >
      <a href="#" class="hero-btn1" [routerLink]="['/CustomerSignUp']"
        >Get Started as a Customer</a
      >
      <a href="#" class="hero-btn2" [routerLink]="['/PharmacistSignUp']"
        >Get Started as a Pharmacist</a
      >
    </div>
  </div>
</div>
<!-- <section class="WhyChooseUs">
  <div class="Text-box">
    <h2>Why Choose Us?</h2>
  </div>
</section> -->

<app-footer-marquee> </app-footer-marquee>
