<!-- home.component.html -->
<div class="container-wrapper m-3">
  <div>
    <!-- Neumorphic Box -->
    <div class="neumorphic-box">
      <iframe src='https://my.spline.design/pillanddnaanimation-354120818a6dbc621953df90b70f0abc/' 
      frameborder='0' 
      width='100%'
       height='100%'></iframe>
    </div>
   
  </div>
</div>
 <!-- Swiper -->
<div width="70rem" hight ="50rem">
 <div class="swiper-container p-2 m-4" >
  <swiper-container 
    pagination="true" 
    pagination-dynamic-bullets="true"
    autoplay-delay="2000" 
    autoplay-disable-on-interaction="false" 
    loop="true"
  >
    <swiper-slide>
      <h1>Create Your Online Pharmacy Shop</h1>
      <p>Easily register and launch your personalized pharmacy store to sell medicines and beauty products online.</p>
    </swiper-slide>
    
    <swiper-slide>
      <h1>Product Management Made Easy</h1>
      <p>Add, update, and organize your products with a user-friendly interface designed for pharmacy owners.</p>
    </swiper-slide>
    
    <swiper-slide>
      <h1>Detailed Product Pages</h1>
      <p>Show important product details including usage, ingredients, and price to help users make informed decisions.</p>
    </swiper-slide>
  </swiper-container>
</div>

</div>
<div style="height: 100%; width: 50%;">
  <!-- Spline 3D Container -->
  <div class="spline-container">
    <iframe src='https://my.spline.design/cosmeticbottleboxmockup-3f106fcacff8d28a83f5db9e960cf2ec/'
     frameborder='0'
      width='100%' height='100%'></iframe>
  </div>
  

</div>