<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>

<section class="Pharmacies-displayed-section" appMoveUpAnimate>
  <div class="All-Pharmacies-Section">
    <h2 class="section-heading">All trusted pharmacies are here &darr;</h2>
    <div class="Heading-Search-Bar ViewAllPharmaciesSearch">
      <app-fillter-phname></app-fillter-phname>
    </div>
    <div class="pharmacies-container" >
      <div class="Pharmacies-grid-container container">
        <div class="row gy-4 gx-4 justify-content-center" appMoveUpAnimate>
          <a
            *ngFor="let pharma of filteredPharmacies"
            href="#"
            title="navigate pharmacy"
            class="pharmacy-item col-12 col-sm-6 col-md-4 col-lg-3"
            [routerLink]="['/pharmacyprofile']"
            (click)="savePharmacyId(pharma.id)"
          >
            <div class="pharmacy-image">
              <img [src]="pharma.imgUrl" alt="pharmacy-logo" />
            </div>
            <p>{{ pharma.Name }}</p>
          </a>
        </div>
      </div>
    </div>
    <div class="backButton" style="max-width: 10rem">
      <a href="#" class="Back-Button" [routerLink]="['/customer']">Back</a>
    </div>
  </div>
</section>
