/* Global Styling */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #2b8a3e;
  font-weight: 600;
}

p {
  text-align: center;
  color: #555;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

/* Section Styling */
.services-pharmacists,
.services-customers {
  padding: 4rem 2rem;
  background-color: rgb(249, 253, 250);
  margin-bottom: 3rem;
}

/* Service Cards Styling */
.service-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.service-card {
  background-color: white;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card i {
  font-size: 3rem;
  color: #59c768;
  margin-bottom: 1rem;
}

.service-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.service-card p {
  font-size: 1rem;
  color: #666;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.service-card:hover i {
  color: #4ba35a;
}

/* Responsive Design */
@media (max-width: 768px) {
  .service-cards {
    flex-direction: column;
    align-items: center;
  }

  .service-card {
    width: 80%;
  }
}
