header {
  /* border-top: 10px solid #2b8a3e; */
  background-color: #f9fdfa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  width: 100%;
  position: relative;
}
.center-section {
  flex: 1;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.left-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.right-section lord-icon {
  width: 32px;
  height: 32px;
}
.logo {
  position: relative;
  top: -2px;
}
.logo :hover {
  transition: transform 0.3s ease;
  transform: rotateY(180deg);
}
.websiteName {
  font-weight: 800;
  letter-spacing: 0.75px;
  font-size: 1.4rem;
}
.prefix {
  color: #2b8a3e;
  transition: all 0.3s;
}
.prefix:hover {
  color: #40c057;
  cursor: pointer;
}
.sufix {
  color: #bcef5d;
  font-weight: 800;
  transition: all 0.3s;
}
.sufix:hover {
  color: #96d326;
  cursor: pointer;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}
.link:link,
.link:visited {
  text-decoration: none;
  display: inline-block;
  color: #2b8a3e;
  font-weight: 600;
  transition: all 0.1s;
}
.link:hover,
.link:active {
  color: #22bb11;
  transform: scale(1.1);
}
.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: #2b8a3e;
  cursor: pointer;
}
/* .login-button {
  position: absolute;
  right: 7rem;
  top: 2.6rem;
} */
@media (max-width: 880px) {
  .menu-overlay {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to top right,
      #1a852f,
      #6df359
    ); /* Semi-transparent background */
    z-index: 9998; /* Overlay layer */
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .menu-overlay.open {
    display: flex;
    flex-direction: column;
    opacity: 1;
  }
  .center-section {
    width: 100%;
    order: 0;
    /* display: none; */
    justify-content: center;
  }

  .center-section.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
  }

  .nav-links {
    flex-direction: column;
    display: flex;
    /* position: absolute;
    top: 2rem;
    left: 2.5rem; */
    width: 100%;
    padding: 1rem 0;
  }

  .link:link,
  .link:visited {
    color: #f7f7f7;
    font-weight: 700;
    font-size: 1.25rem;
  }
  .link:hover,
  .link:active {
    color: #2b8a3e;
    font-weight: 700;
  }

  .hamburger {
    display: inline-block;
    position: absolute;
    right: 7rem;
    z-index: 9999;
    top: 1.5rem;
  }
  .menu-overlay {
    display: none;
  }

  .right-section {
    order: 1;
    margin-left: 0;
  }

  .left-section {
    order: -1;
  }

  header {
    align-items: flex-start;
  }
}
