<header>
  <div class="left-section">
    <a href="#" title="Home" class="logo">
      <img src="logo.png" alt="Logo" height="27" class="logo" />
    </a>
    <a href="#" style="text-decoration: none">
      <h1 class="websiteName">
        <span class="prefix">Pharma</span>
        <span class="sufix">Hub</span>
      </h1>
    </a>
  </div>
  <div class="menu-overlay" [ngClass]="{ open: isMenuOpen }">
    <div class="center-section">
      <nav>
        <ul class="nav-links">
          <li><a href="#" class="link">Services</a></li>
          <li><a href="#" class="link">Pharmacies</a></li>
          <li><a href="#" class="link">About Us</a></li>
          <li><a href="#" class="link">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="right-sction">
    <a href="#" class="login-button">
      <lord-icon src="https://cdn.lordicon.com/rzsnbiaw.json" trigger="hover">
      </lord-icon>
    </a>
    <button class="hamburger" (click)="toggleMenu()">☰</button>
  </div>
</header>
