<header>
  <div class="left-section">
    <a href="#" title="Home" class="logo">
      <img src="logo.png" alt="Logo" height="27" class="logo" />
    </a>
    <a href="#" style="text-decoration: none">
      <h1 class="websiteName">
        <span class="prefix">Pharma</span>
        <span class="sufix">Hub</span>
      </h1>
    </a>
  </div>
  <div class="center-section">
    <nav class="dropdown-nav">
      <ul class="nav-links" [ngClass]="{ show: isMenuOpen }">
        <li *ngFor="let item of navbarItems">
          <a href="#" class="link" [routerLink]="item.route">{{
            item.label
          }}</a>
        </li>
        <li class="smallscreenlogin">
          <a href="#" class="link" [routerLink]="'/logincustomer'">
            Login/SignUp</a
          >
        </li>
        <li><button *ngIf="showLogoutButton" (click)="onLogout()" class="logout">Log out</button></li>
      </ul>
    </nav>
  </div>
  <div class="right-section">
    <div class="search-dropdown-container" *ngIf="userRole == 'Customer'">
       <div class="input-group">
        <input
          type="text"
          placeholder="Search for a pharmacy"
          class="search-bar"
        />
        <i class="fas fa-search search-icon"></i>
        <select
          [(ngModel)]="selectedSearchType"
          class="custom-select"
          style="
            width: 2.9rem;
            background-color: #d8fddf;
            opacity: 60%;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            padding-right: 20px;
          "
        >
          <option value=""></option>
          <option value="simple">Simple Search</option>
          <option value="advanced">Advanced Search</option>
        </select>
        <ul class="dropdown-list" *ngIf="showDropdown">
          <li class="dropdown-item">
            <i class="fas fa-search" style="font-size: 0.7rem"></i>
          </li>
        </ul>
      </div>     
    </div>
    <a
      href="#"
      class="cart-button"
      [routerLink]="['/cart']"
      *ngIf="userRole == 'Customer'"
    >
      <i class="fas fa-shopping-cart cart-button"></i>
      <span class="cart-count">{{ cartItemCount }}</span>
    </a>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <a href="#" class="login-button" [routerLink]="['/logincustomer']">
      <lord-icon src="https://cdn.lordicon.com/rzsnbiaw.json" trigger="hover" *ngIf="showLogiutButton" >
      </lord-icon>
    </a>
    

    <button class="hamburger" (click)="toggleMenu()">☰</button>
  </div>
</header>
