<section class="offers-section" appMoveUpAnimate>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    rel="stylesheet"
  />

  <div
    class="row align-items-center justify-content-between flex-wrap section-header"
  >
    <h2 class="Heading">Checkout The Offers Here &darr;</h2>
    <!-- all offers -->
    <div class="col-12 col-md-auto mt-3 mt-md-0">
      <a href="#" class="AllOffers" [routerLink]="['/alloffers']">
        All Offers
      </a>
    </div>

    <div class="card-container row align-items-md-center mt-5">
      <!-- button left -->
      <!-- @if(limitedOffers.length >3){
      <button (click)="moveLeft()" class="arrow-btn left"></button>
      } -->
      <button
        *ngIf="limitedOffers.length > 3"
        (click)="moveLeft()"
        class="arrow-btn left"
      ></button>
      <!-- card body -->
      <div
        class="custom-card col-12 col-sm-6 col-md-4 col-lg-3 mx-2 my-2 flip-card"
        *ngFor="let card of visibleCards; let i = index"
        [ngClass]="{ active: i === 1, 'center-card': i === 1 }"
      >
        <div class="flip-card-inner" [class.flipped]="card.isFlipped">
          <div class="flip-card-front">
            <!-- Card Image and Favourite Icon -->
            <div class="custom-card-img-container">
              <img [src]="card.imgUrl" alt="Image" class="custom-card-img" />
              <lord-icon
                class="custom-icon"
                src="./heart.json"
                trigger="hover"
                style="width: 1.5rem; height: 1.5rem"
              >
              </lord-icon>
            </div>
            <!-- cart icon and Card Name -->
            <div class="custom-card-body">
              <h4 class="custom-card-title">{{ card.name }}</h4>

              <!-- <p class="custom-card-text row">Price : {{card.price | currency : 'EGP'}}</p> -->
              <div class="prices">
                <div class="old-price">
                  <p
                    style="text-decoration-line: line-through"
                    class="expensive"
                  >
                    price: {{ card.price }}
                  </p>
                </div>
                <div class="newPrice">
                  <p class="cheap">
                    {{ card.price | discount : card.DissPrice }} EG
                  </p>
                </div>
                <button style="background-color: #ebfbee">
                  <lord-icon
                    src="./addcart.json"
                    trigger="hover"
                    style="width: 1.5rem; height: 1.5rem"
                    class="col-2 cart-icon"
                    (click)="addToCart(card)"
                    (click)="alertadd()"
                  >
                  </lord-icon>
                </button>
              </div>

              <p class="custom-card-text2">
                {{ card.description.slice(0, 2).join(", ") }}

                @if (card.description.length > 2) {
                <button
                  class="flip-button-1"
                  (click)="card.isFlipped = !card.isFlipped"
                >
                  ...See More &rarr;
                </button>
                }
              </p>
              <!-- Logo of Pharmacy -->
              <div
                class="pharma-logo-container row justify-content-center align-content-center px-2"
              >
                <img
                  class="col-3 pharma-logo"
                  [src]="card.imgPharm"
                  alt="Pharmacy Logo"
                />
                <p class="pharmName row col-6 m-1">
                  {{ card.pharmName }}
                </p>
              </div>
            </div>
          </div>
          <div class="flip-card-back">
            <p class="custom-card-text">
              {{ card.description }}
            </p>
            <button
              class="flip-button-2"
              (click)="card.isFlipped = !card.isFlipped"
            >
              Back
            </button>
          </div>
        </div>
      </div>
      <!-- button rigth -->
      @if(limitedOffers.length >3){
      <button (click)="moveRight()" class="arrow-btn right"></button>
      }
    </div>
  </div>
</section>
