body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f8f4e1;
}
.section-header {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.Heading {
  font-size: 2.6rem;
  color: #2b8a3e;
  max-width: 35rem;
}
.card-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: nowrap;
  position: relative;
  padding: 2rem 0;
  max-width: 75rem;
  margin: 0 auto;
}

.custom-card {
  transition: transform 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-5px);
}
.pharma-logo {
  max-width: 3.75rem;
  height: auto;
}
.pharma-logo:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  transform: rotateY(180deg);
}

.custom-card-img {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: auto;
}

.custom-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.cart-icon {
  position: absolute;
  right: 30px;
  top: 147px;
  cursor: pointer;
}

.custom-card-body {
  padding: 1.2rem;
}

.custom-card-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #207230;
  margin-bottom: 1.5rem;
}

.custom-card-text1 {
  font-size: 0.8rem;
  color: #207230;
}
.custom-card-text2 {
  font-size: 0.8rem;
  color: #207230;
  margin-bottom: 2rem;
}
.center-card {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

/* arrow buttons */
.arrow-btn {
  --arrow-size: 2.5rem;
  --arrow-color: #2b8a3e;
  --arrow-color-hover: #d8f5a2;
  width: var(--arrow-size);
  height: var(--arrow-size);
  background: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.arrow-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  width: calc(var(--arrow-size) * 0.7071);
  height: calc(var(--arrow-size) * 0.7071);
  box-sizing: border-box;
  border-top: calc(var(--arrow-size) / 5) solid var(--arrow-color);
  transition: all 0.2s ease-in-out;
}

.arrow-btn.left {
  left: 0.75rem;
}
.arrow-btn.right {
  right: 0.75rem;
}

.arrow-btn.left::after {
  left: calc(var(--arrow-size) / 5);
  border-left: calc(var(--arrow-size) / 5) solid var(--arrow-color);
  transform: rotate(-45deg);
  transform-origin: top left;
}

.arrow-btn.right::after {
  right: calc(var(--arrow-size) / 5);
  border-right: calc(var(--arrow-size) / 5) solid var(--arrow-color);
  transform: rotate(45deg);
  transform-origin: top right;
}

.arrow-btn.left:hover::after {
  box-shadow: calc(var(--arrow-size) / -8) calc(var(--arrow-size) / -8) 0
    var(--arrow-color);
  border-color: var(--arrow-color-hover);
}

.arrow-btn.right:hover::after {
  box-shadow: calc(var(--arrow-size) / 8) calc(var(--arrow-size) / -8) 0
    var(--arrow-color);
  border-color: var(--arrow-color-hover);
}

/* all packages button */
.AllOffers:link,
.AllOffers:visited {
  display: inline-block;
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 100px;
  animation-name: appearing;
  animation-duration: 2.5s;
  transition: all 0.3s;
  flex-shrink: 0;
  background-color: #d8f5a2;
  color: #37b24d;
  text-decoration: none;
}

.AllOffers:hover,
.AllOffers:active {
  background-color: #f9fdfa;
  box-shadow: inset 0 0 0 3px #37b24d;
  color: #37b24d;
}

.flip-card {
  background-color: transparent;
  width: 19rem;
  height: 25rem;
  perspective: 150rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.9s;
  transform-style: preserve-3d;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ebfbee;
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
}

.flip-card-back {
  color: #2b8a3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8rem;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: rotateY(180deg);
  text-align: center;
  background-color: #ebfbee;
}
.flip-button-1 {
  background-color: #ebfbee;

  color: #207230;
}
.flip-button-2 {
  width: 90px;
  height: 30px;
  border-radius: 100px;
  cursor: pointer;
  background-color: #207230;
  transition: 0.5s ease;
  color: #fff;
}
.flip-button-2:hover {
  background: #ebfbee;
  color: #207230;
  box-shadow: inset 0 0 0 2px #207230;
}
@media (max-width: 1200px) {
  .custom-card {
    width: 18rem;
  }
}

@media (max-width: 992px) {
  .custom-card {
    width: 70%;
    max-width: 18rem;
  }
  .card-container {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .custom-card {
    width: 70%;
    max-width: 18rem;
  }
}

@media (max-width: 576px) {
  .custom-card {
    width: 70%;
    max-width: 18rem;
  }

  h1#txt1 {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .card-container {
    flex-wrap: nowrap;
    /* overflow: hidden; */
    justify-content: center;
  }

  .custom-card {
    flex: 0 0 100%; /* Full width */
    max-width: 70%; /* Add some padding from screen edge */
  }
  .flip-card {
    width: 100%;
  }
  .AllOffers:link,
  .AllOffers:visited {
    /* display: block; */
    text-align: center;
  }
}
