<section class="Entering-Package-Section" appMoveUpAnimate>
  <div class="section-Container">
    <div class="ImgBox">
      <img [src]="imgUrl" class="Img" alt="some products" />
    </div>
    <div class="Text-box">
      <h2 class="Heading">Find the Perfect Package for Your Needs</h2>
      <p class="description">
        If you are searching for skin care product packages you have come to the
        right place.
        <!-- <br /> -->
        Here you could find packages with very good prices that fit all your
        needs, every week there are new packages Here &darr;
      </p>
    </div>
  </div>
</section>
